---
import { t, changeLanguage } from 'i18next';
import Layout from 'layouts/Layout.astro';
import { getSupportedLanguages } from 'utils/i18n';
import { Language } from 'common/constants';

export async function getStaticPaths() {
  return getSupportedLanguages([Language.id]).map(lang => ({
    params: { lang },
    props: {},
  }));
}
interface Props {
  lang?: string;
}
const { lang } = Astro.params;
changeLanguage(lang);

const current = new Date();
---

<Layout title="Home">
  <div id="container">
    <div class="change-color">HOME {lang}</div>
    <div>{t('home:site.title')}</div>
    <p>Current time: {current.toLocaleTimeString()}</p>
  </div>
</Layout>

<style>
  #container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    height: 100%;
  }

  .change-color {
    color: var(--primary-4);
  }
</style>
