---
import { t, changeLanguage } from 'i18next';

import Layout from 'layouts/Layout.astro';
import { getSupportedLanguages } from 'utils/i18n';
import { Language } from 'common/constants';

export async function getStaticPaths() {
  return getSupportedLanguages([Language.id]).map(lang => ({
    params: { lang },
    props: {},
  }));
}

interface Props {
  lang?: string;
}

const { lang } = Astro.params;

changeLanguage(lang);
---

<Layout title="Home" lang={lang}>
  <div id="container">
    <div>HOME {lang}</div>
    <div>{t('site.title')}</div>
  </div>
</Layout>

<style>
  #container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    height: 100%;
  }
</style>
