---
import Layout from 'layouts/Layout.astro';

import { supportedLanguages } from 'utils/i18n';

export async function getStaticPaths() {
  return supportedLanguages.map(lang => ({
    params: { lang },
    props: { lang },
  }));
}

const { lang } = Astro.params;
---

<Layout title="Home">
  <div id="container">
    <div>about {lang}</div>
    <div>Current language: {Astro.props}</div>
  </div>
</Layout>

<style>
  #container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    height: 100%;
  }
</style>
